<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.h2.Driver</property>
		<property name="hibernate.connection.url">jdbc:h2:tcp://localhost/~/2019_10_HIBERNATE_WITH_SPRING_HPE</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>

		<!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
		
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="dialect">org.hibernate.dialect.H2Dialect</property>
		
		<mapping class="com.hpe.entity.Category" />
		<mapping class="com.hpe.entity.Product" />
		<mapping class="com.hpe.entity.Supplier" />
		<mapping class="com.hpe.entity.Customer" />
		<mapping class="com.hpe.entity.Employee" />
		<mapping class="com.hpe.entity.Shipper" />
		<mapping class="com.hpe.entity.Order" />
		<mapping class="com.hpe.entity.LineItem" />
		<mapping class="com.hpe.entity.Laptop" />
		
	</session-factory>
</hibernate-configuration>
